<div>[[!meta title="Privacy for anyone anywhere"]]</div>

[[!meta google-site-verification="aGp--gO0AaDbtxshkcWaS0jY8WkOjYwUuBqRWzWHy6o"]]

<div id="intro">

<p>
Tails is a [[!wikipedia desc="live operating system" Live_USB]] that
you can start on almost any computer from a USB stick or a DVD.
</p>

<p>
It aims at preserving your <strong>privacy</strong> and
<strong>anonymity</strong>, and helps you to:
</p>

<ul>
  <li>
    <strong>use the Internet anonymously</strong> and <strong>circumvent
    censorship</strong>;<br />
    all connections to the Internet are forced to go through [[the Tor
    network|https://www.torproject.org/]];
  </li>
  <li>
    <strong>leave no trace</strong> on the computer you are using unless
    you ask it explicitly;
  </li>
  <li>
    <strong>use state-of-the-art cryptographic tools</strong> to encrypt your
    files, emails and instant messaging.
  </li>
</ul>

<p>
[[Learn more about Tails.|about]]
</p>

</div> <!-- #intro -->

<div id="news" class="home-section blocks three-blocks">

<h1>News</h1>

[[!inline pages="page(news/*) and !news/*/* and !news/discussion and (currentlang() or news/report_2* or news/test_*)" show="2" feeds="no" archive="yes" sort="-meta(date) age -path"]]

<p>See [[News]] for more.</p>

</div> <!-- #news -->

<div id="security" class="home-section blocks three-blocks">

<h1>Security</h1>

[[!inline pages="page(security/*) and !security/audits and !security/audits.* and !security/audits/* and !security/*/* and !security/discussion and (currentlang() or security/Numerous_security_holes_in_*)" show="2" feeds="no" archive="yes" sort="-meta(date) age -path"]]

<p>See [[Security]] for more.</p>

</div> <!-- #security -->

<div id="debian-fs-tor">

<div class="blocks three-blocks bottom">
<a href="https://www.debian.org/" class="noicon">[[!img lib/debian.png link="no"]]</a>
<p class="center">Tails is built upon <a href="https://www.debian.org/">Debian</a>.</p>
</div>

<div class="blocks three-blocks bottom">
[[!img lib/free-software.png link="doc/about/license"]]
<p class="center">Tails is [[Free Software|doc/about/license]].</p>
</div>

<div class="blocks three-blocks bottom">
<a href="https://www.torproject.org/" class="noicon">[[!img lib/tor.png link="no"]]</a>
<p class="center">Tails sends its traffic through <a href="https://torproject.org/">Tor</a>.</p>
</div>

</div> <!-- #debian-fs-tor -->

<span class="clearfix"></span>
<div id="home-awards" class="home-section">
	<h1>Awards</h1>
	<p>Tails has received the Mozilla Open Source Support Award (2019 and 2016), the Access Innovation Prize (2014), the APC FLOSS prize (2014) and the OpenITP award (2013).</p>
</div>

<div id="home-partners" class="home-section">
	<h1>Partners & Grants</h1>
	<p>Tails receives grants, corporate donations, and substantial donations from individuals.<br/>
	[[Meet our partners|partners]] or [[become a partner|partners/become]]!</p>
</div>
