<div>[[!meta title="Download and install Tails"]]</div>

[[!meta stylesheet="bootstrap.min" rel="stylesheet" title=""]]
[[!meta stylesheet="inc/stylesheets/assistant" rel="stylesheet" title=""]]

<h4>Thank you for your interest in Tails.</h4>

<p>Installing Tails can be quite long but we hope you will still have a good time :)</p>

<p>We will first ask you a few questions to choose your installation scenario and then guide you step by step.</p>

<h1>Which operating system are you installing Tails from?</h1>

<div class="row">
  <div class="col-md-4">
    [[
      <div class="panel panel-primary">
        <div class="panel-body">Windows</div>
      </div>
    |install/win]]
  </div>

  <div class="col-md-4">
    [[
      <div class="panel panel-primary">
        <div class="panel-body">macOS</div>
      </div>
    |install/mac]]
  </div>

  <div class="col-md-4">
    [[
      <div class="panel panel-primary">
        <div class="panel-body">Linux</div>
      </div>
    |install/linux]]
  </div>
</div>

<p>Download only:</p>

<ul>
  <li>[[For USB sticks (USB image)|install/download]]</li>
  <li>[[For DVDs (ISO image)|install/dvd-download]]</li>
  <li>[[For virtual machines (ISO image)|install/vm-download]]</li>
</ul>
