/* LAYOUT */

.sidebar {
  display: none;
}

#footer {
  display: none;
}

.pageheader .actions {
  display: none;
}

.pageheader #otherlanguages {
  top: 0;
  right: 5px;
}


/* CONTENT */

body {
  font-family: "DejaVu Sans","Verdana",sans-serif;
  color: #000;
  margin-bottom: 100px;
}

#pagebody #content .panel a {
  color: black !important;
  border-bottom: 0px !important;
}

.also {
  margin-top: 10px;
}

.also div {
  padding-top: 10px;
  border-top: 2px solid #53b351;
}

.also ul {
  margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro Regular", "DejaVu Sans", "Verdana", sans-serif;
}

h3, h4, p, ul, ol {
  margin-bottom: 1.5em !important;
}

ul {
  padding-left: 20px;
}

small {
  font-size: 0.85em !important;
  font-weight: normal !important;
}

td, th {
  padding: 2px 10px 2px 5px;
}

/* markdown add a p at the top of the page */
#content > p {
  margin-top: 0;
}


/* PANELS */

.panel-primary {
  margin-top: 30px;
  text-align: center;
  border: none;
  transition: 0.1s;
  background: #53b351;
  color: black;
  font-weight: bold;
  padding: 15px;
  height: 5em;
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Source Sans Pro Regular", "DejaVu Sans", "Verdana", sans-serif;
  letter-spacing: 1px;
}
@media all and (max-width: 480px) {
    .panel-primary {
        height: auto;
    }
}

.two-lines {
  padding: 4px;
}

/* Hide all scenario-dependent bits by default. */

.clone, .usb, .dvd, .vm, .download-only-img, .download-only-iso,
.install-clone, .mac-clone,
.windows, .linux, .mac, .expert,
.upgrade, .upgrade-clone, .upgrade-tails {
  display: none;
}


/* TOGGLE */

#install div.toggleable, #bittorrent-minor div.toggleable, #needs div.toggleable, #scenarios div.toggleable {
  background: white !important;
  border: 1px solid #53b351;
  -webkit-box-shadow: 5px 5px #53b351;
  box-shadow: 5px 5px #53b351;
  padding: 15px 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -5px;
  position: absolute;
  text-align: left;
  font-size: 13px;
  z-index: 1;
}

#download-and-verify div.toggleable p, #needs div.toggleable p, #scenarios div.toggleable p {
  margin-bottom: 0px;
}

#needs div.toggleable {
  margin-top: 0.4em;
  width: 40em;
}

#scenarios div.toggleable {
  left: -5em;
  margin-top: 0.3em;
  width: 35em;
}

a.toggle {
  border-bottom: 1px dashed black !important;
  cursor: help;
  text-decoration: none !important;
}

.hide a.toggle {
  border-bottom: none !important;
  cursor: pointer;
}

#download-and-verify div.toggleable a.toggle, #needs div.toggleable a.toggle, #scenarios div.toggleable a.toggle {
  border: none !important;
  cursor: pointer;
  position: absolute;
  right: 7px;
  top: 5px;
}


/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

  .page {
    padding: 0px 1em 1em;
  }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
