body {
  color: black;
}

.sidebar {
  display: none;
}

/* Mission */

#mission p {
  font-size: 24px;
}

/* Values */

#values p {
  margin-bottom: 3em;
}

/* Personality */

#personality p {
  position: relative;
  height: 1.5em;
  margin-top: 27px;
  font-weight: bold;
}

#personality span:first-child {
  position: absolute;
  left: 0;
  text-align: left;
}

#personality span:last-child {
  position: absolute;
  right: 0;
  text-align: right;
}

div.progress {
  width: 100%;
  margin-bottom: 3em;
}

.progress-bar {
  background: #56347c;
}
